
body {
  color: black;
  background-color: #fff;
  background-image: url('assets/sky-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  width: 90%;
  margin: 0 5%;
}

.major-heading {
  width: 100%;
  text-align: center;
  font-size: 10vh;
}

.titles {
  font-size: 9vh;
  text-align: center;
}

.inspiration, .motivation {
  display: flex;
  display: -webkit-flex;
  flex: auto;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
}

.clip-button {
    margin: 5px;
    display: flex;
    display: -webkit-flex;
    flex: auto;
    flex-direction: row;
    -webkit-flex-direction: row;
    border-color: #888;
    background-color: #fff;
    width: 90vw;
    font-size: 7vh;
    display: inline-block;
    word-wrap: break-word;
    white-space: pre-line;
}

@media screen and (min-width: 1600px){
  .clip-button {
    width: 40vw;
    font-size: 5vh;
  }

}



