body {
  color: black;
  background-color: #fff;
  background-image: url('assets/sky-1.png');
  background-repeat: no-repeat;
}

.clip-button {
  margin: 5px;
}

.inspiration {
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.motivation {
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.clip-button {
  display: flex;
  flex: auto;
  flex-direction: row;
  border-color: #888;
  background-color: #fff;
}

.major-heading {
  font-size: 60px;
}
